header{
	background: linear-gradient(#FFFAFA, #FAEBD7);
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px;
}

a{
	font-size: 40px;
	padding: 20px;
	color: #293133;
	text-decoration: none;
}
a:hover{
	color: #FFCF48;
	text-decoration: none;
}
li{
	display: inline;
}

.div_gl_1 {
  overflow: hidden;
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, .5);
  display: inline-block;
  max-width: 60em;
  background-color: white;
  border-radius: 10px;
  padding: 10px;

}


.text_gl_0 {text-align: left;
  font-size:150%;
  font-family:Times New Roman, Times;
 

}

.text_gl_1 {text-align: left;
  font-size: 150%;
  font-family:Times New Roman, Times;
font-weight: bold;

}
.dsax {
	margin-top: 1px;

}
.dsazz {
	margin-top: 1px;

}

.text_gl_0 {text-align: left;
  font-size:150%;
  font-family:Times New Roman, Times;
 }

 @media (min-width: 768px)
.container-footer {
    padding: 70px 0;
    line-height: 30px;
}
.container-footer {
    background: linear-gradient(#FFFAFA, #FAEBD7);
    color: #000000;
    padding: 30px 20px;
    line-height: 25px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

